body{
    font-family:"Roboto" ;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 15px 0px;
    border-bottom: 3px solid #f9f9f9;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
}

header img{
    width: auto;
    height: 30px;

}

header a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    padding: 15px;
    font-size: 18px;
}

header .b1{
    border: 2.5px solid #2d96c8;
    border-radius: 39px;
    font-size: 17px;
    background-color: white;
    padding: 12px 30px;
    color: #2d96c8;
    font-weight: 600;
} 

header .b2{
    border: 2.5px solid #2d96c8;
    border-radius: 39px;
    font-size: 17px;
    background-color: #2d96c8;
    padding: 12px 30px;
    color: white;
    font-weight: 600;
} 

.head{
    background: url(./img/hero.png) no-repeat right top;
    width: auto;
    height: 430px;
    background-size: 700px;
    margin-right: 50px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head h1{
    color: black;
    font-size:34px;
    font-weight: 500;
    line-height: 110%;
    padding-bottom: 8px;
    letter-spacing: 1px;
}

.head h2{
    color: #ef5466;
    font-size: 25px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    padding-bottom: 40px;
    padding-right: 750px;
}

.b3{
    border: 2.5px solid #ef5466;
    border-radius: 39px;
    font-size: 15px;
    background-color: #ef5466;
    padding: 13px 47px;
    color: white;
    font-weight: 600;
}

.b4{
    border: 2.5px solid x;
    border-radius: 39px;
    font-size: 15px;
    background-color: white;
    padding: 13px 47px;
    color: #8e8e94;
    font-weight: 600;
}

.head a{
    padding-right: 30px;
}

.section-2{
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.phone img{
    width: 250px;
    height: auto;
    padding: 100px 0px 100px 200px;
}

.phone-right h2{
    color: black;
    font-size: 35px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    padding-bottom: 25px;
}

.phone-right-text{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-right: 180px;
    padding-bottom: 100px;
}

.phone-right-text h3{
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    padding: 30px 80px 20px 0px;
}

.phone-right-text p{
    color: black;
    font-size: 15px;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 1px;
}

.section-3{
    display: flex;
    background-color: #ef5466;
    padding: 40px 0px 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.section-3 img {
    width: auto;
    height: 50px;
    padding-right: 15px;
}

.article-3 {
    width: 500px;
} 

.section-3 h2{
    color: white;
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.section-3 p{
    color: white;
    font-size: 15px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1px;
    padding-bottom: 24px;
}

.section-4-title h2{
    color: black;
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    padding-top: 80px;
    text-align: center;
}

.section-4-title p{
    color: black;
    font-size: 10px;
    font-weight: 100;
    line-height: 140%;
    letter-spacing: 1px;
    padding: 48px 0px 10px 0px;
    text-align: center;
    text-transform: uppercase;
}

	
span {
    content: "\25BC";
    color: #2d96c8;
}

.section-5{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-bottom: 50px;
}

.section-5 article{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.section-5-a1{
    box-shadow: -2px 0px 5px 1px rgba(142,142,148,0.20);    
    border: 2px solid #f9f9f9
}

.section-5-a2{
    box-shadow: -2px 0px 5px 1px rgba(142,142,148,0.20);    
    border: 2px solid #f9f9f9;
    background-color: #2d96c8;
}

.section-5 .title-a2 {
    color: white;
}

.section-5 .price-a2 {
    color: white;
}

.section-5 .month-a2 {
    color: white;
}

.section-5 .list-a2 strong{
    color: white;
}

.section-5 .no-strong{
    color: white;
}

.section-5-a3{
    box-shadow: 2px 0px 5px 1px rgba(142,142,148,0.20);    
    border: 2px solid #f9f9f9
}

.section-5 h3{
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 30px 20px 30px;
}

.section-5 h4{
    color: black;
    font-size: 22px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1px;
    text-align: center;
}

.section-5 p{
    color: black;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 30px;
}

.section-5 li img{
    width: 15px;
    height: auto;
    padding: 5px 0px 10px 10px;
}

.section-5 li{
    display: flex;
    justify-content: left;
    align-content: space-between;
}

.section-5 li p{
    padding: 5px 0px 10px 10px;
    color: #8e8e94;

}

.section-5 li strong{
    font-weight: 700;
    color: #8e8e94;
}

.section-5 ul{
    padding-bottom: 37px;
}

p.month{
    padding-top: 1px;
    padding-bottom: 15px;
    color: #2d96c8;
    font-weight: 500;
}

p.monthPrenium{
    padding-top: 1px;
    padding-bottom: 15px;
    color: white;
    font-weight: 500;
}

.b5{
    border: 2.5px solid #8e8e94;
    border-radius: 39px;
    font-size: 12px;
    background-color: #8e8e94;
    padding: 6px 35px ;
    color: white;
    font-weight: 600;
}

.b6{
    border: 2.5px solid #ef5466;
    border-radius: 39px;
    font-size: 12px;
    background-color: #ef5466;
    padding: 6px 35px;
    color: white;
    font-weight: 600;
}

.info{
    color: #2d96c8;
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 30px;
}

.infoP{
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 30px;
}

.section-6{
    color: #8e8e94;
    font-size: 8px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 120%;
    text-align: center;
    padding: 0px 90px 50px 90px;
}

.section-7 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-7-a1{
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}

.section-7 h3{
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    padding: 20px 0px 7px 0px;
}

.section-7 h3 strong{
    color: #ef5466;
}

.section-7 p{
    color: black;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
}

.section-7 a{
    color: #2d96c8;
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}

.section-7 button{
    border: 2px solid black;
    border-radius: 39px;
    font-size: 12px;
    background-color: #f9f9f9;
    padding: 8px 40px;
    color: black;
    font-weight: 600;
}

.section-7-a2{
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
    padding-bottom: 30px;
}

.section-7-a3{
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
    padding-bottom: 30px;
}

footer{
    background-color: black;
}

.footer-1{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-1 img{
    width: 150px;
}

.footer-1 .google{
    width: 159px;
}

.footer-2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-2 a{
    text-decoration: none;
    color: white;

}

.footer-2 li{
    padding-bottom: 20px;
    font-size: 12px;
}

.footer-2 .title{
    color: #8e8e94;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 1px;
}

.footer-3{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 100px;
}

.footer-3 .social{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 110px;
}

.footer-3 .social img{
    width: 19px;
}

.footer-3 .deezer img{
    width: 190px;
}

.footer-3 .select{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-right: 100px;
}

.footer-3 .select p{
    color: #8e8e94;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 1px;
}

.footer-3 .select select{
    background-color: black;
    color: #f9f9f9;
    border: none;
    font-size: 10px;
}

@media (min-width: 898px) {
    .section-5 .reco{
        display: none;
    }
}

@media (max-width: 898px) {
    nav {
        display: none;
    }
    header {
        display: flex;
        justify-content: center;
        background: url(./img/burger.png) no-repeat;
        background-size: 30px;
        background-position: 95%;
    }
    .head{
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        background-position: 50% 390px;
        background-size: 450px;
        padding-bottom: 230px;
    }

    .head h2{
        padding: 0px 30px 20px 30px;
    }

    .head a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding-bottom: 10px;
    }

    .head .b3, .b4 {
        padding: 20px 150px;
        margin-left: 30px;
    }

    .section-2 img{
        display: none;
    }

    .phone-right{
        text-align: center;
        padding-top: 40px;
        margin-bottom: 0px;
    }

    .phone-right-text {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .phone-right-text h3{
        font-size: 26px;
    }

    .section-3{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;   
        gap: 10px;
    }

    .section-3 h2{
        font-size: 35px;
    }

    .section-3 p{
        font-size: 20px;
        line-height: 170%;
    }

    .section-3 img{
        height: 60px;
        width: auto;
    }

    .section-4-title p{
        display: none;
    }

    .section-4-title h2{
        padding-bottom: 50px;
        font-size: 37px;
        padding-top: 50px;
    }

    .section-5{
        display: flex;
        flex-direction: column;
        margin: 0px 100px;
    }
    
    .section-5 h3{
        font-size: 35px;
        padding-bottom: 0px;
        font-weight: 700;
    }

    .section-5 h4{
        font-size: 40px;
        font-weight: 500;
    }

    .section-5 p{
        font-size: 17px;
        padding-bottom: 20px;
    }

    .section-5 ul{
        margin-top: 20px;
    }

    .section-5 li p{
        font-size: 19px;
        align-items: flex-start;
    }

    .section-5 li img{
        width: 29px;
        height: auto;
    }

    .section-5 .reco p{
        padding-bottom: 0px;
        padding-top: 10px;
        font-size: 15px;
        text-transform: uppercase;
    }
    .section-5 button{
        padding: 15px 75px;
        font-size: 17px;
        margin: 10px 0px
    }

    .section-5 a{
        font-size: 17px;
    }

    .section-7 p {
        display: none;
    }
    .section-7-a1, .section-7-a2, .section-7-a3{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .section-7 h3{
        font-size: 35px;
    }

    .section-7 a{
        font-size: 15px;
    }

    .section-7 button{
        padding: 15px 75px;
        font-size: 17px;
    }

    .footer-1 img{
        width: 220px;
        height: auto;
        margin: 80px 0px;
    }

    .footer-1 .google{
        width: 235px;
        height: auto;
        padding-left: 20px;
    }
    
    .footer-2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 50px;
    }
    
    .footer-2 li .title{
        font-size: 20px;
        font-weight: 500;
    }

    .footer-2 ul{
        padding-bottom: 55px;
    }

    .footer-2 li{
        font-size: 21px;
        font-weight: 300;
        padding: 17px 0px;
    }

    .footer-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:80px;
    }

    .footer-3 .deezer{
        order: 1;
    }

    .footer-3 .social{
        order: 2;
        padding-left: 0px;       
    }

    .footer-3 .social img{
        width: 31px;
        padding-right: 20px;
    }

    .footer-3 .select{
        order: 3;
        padding-right: 0px;
    }

    .footer-3 .select p, select{   
        font-size: 15px;
    }
}