body{
    font-family:"Roboto" ;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 15px 0px;
    border-bottom: 3px solid #f9f9f9;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
}

header img{
    width: auto;
    height: 30px;

}

header a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    padding: 15px;
    font-size: 18px;
}

header .b1{
    border: 2.5px solid #2d96c8;
    border-radius: 39px;
    font-size: 17px;
    background-color: white;
    padding: 12px 30px;
    color: #2d96c8;
    font-weight: 600;
} 

header .b2{
    border: 2.5px solid #2d96c8;
    border-radius: 39px;
    font-size: 17px;
    background-color: #2d96c8;
    padding: 12px 30px;
    color: white;
    font-weight: 600;
} 

.head{
    background: url(./img/hero.png) no-repeat right top;
    width: auto;
    height: 430px;
    background-size: 700px;
    margin-right: 50px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head h1{
    color: black;
    font-size:34px;
    font-weight: 500;
    line-height: 110%;
    padding-bottom: 8px;
    letter-spacing: 1px;
}

.head h2{
    color: #ef5466;
    font-size: 25px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    padding-bottom: 40px;
}

.b3{
    border: 2.5px solid #ef5466;
    border-radius: 39px;
    font-size: 15px;
    background-color: #ef5466;
    padding: 13px 47px;
    color: white;
    font-weight: 600;
}

.b4{
    border: 2.5px solid x;
    border-radius: 39px;
    font-size: 15px;
    background-color: white;
    padding: 13px 47px;
    color: #8e8e94;
    font-weight: 600;
}

.head a{
    padding-right: 30px;
}

.section-2{
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.phone img{
    width: 250px;
    height: auto;
    padding: 100px 0px 100px 200px;
}

.phone-right h2{
    color: black;
    font-size: 35px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    padding-bottom: 25px;
}

.phone-right-text{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-right: 180px;
    padding-bottom: 100px;
}

.phone-right-text h3{
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    padding: 30px 80px 20px 0px;
}

.phone-right-text p{
    color: black;
    font-size: 15px;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 1px;
}

.section-3{
    display: flex;
    background-color: #ef5466;
    padding: 40px 0px 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.section-3 img {
    width: auto;
    height: 40px;
    padding-right: 15px;
}

.article-3 {
    width: 500px;
} 

.section-3 h2{
    color: white;
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.section-3 p{
    color: white;
    font-size: 15px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1px;
    padding-bottom: 24px;
}

.section-4-title h2{
    color: black;
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    padding-top: 80px;
    text-align: center;
}

.section-4-title p{
    color: black;
    font-size: 10px;
    font-weight: 100;
    line-height: 140%;
    letter-spacing: 1px;
    padding: 48px 40px 10px 0px;
    text-align: center;
    text-transform: uppercase;
}

	
span {
    content: "\25BC";
    color: #2d96c8;
}

.section-5{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-bottom: 50px;
}

.section-5 article{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.section-5-a1{
    box-shadow: -2px 0px 5px 1px rgba(142,142,148,0.20);    
    border: 2px solid #f9f9f9
}

.section-5-a2{
    box-shadow: -2px 0px 5px 1px rgba(142,142,148,0.20);    
    border: 2px solid #f9f9f9;
    background-color: #2d96c8;
}

.section-5 .title-a2 {
    color: white;
}

.section-5 .price-a2 {
    color: white;
}

.section-5 .month-a2 {
    color: white;
}

.section-5 .list-a2 strong, .no-strong{
    color: white;
}

.section-5 .no-strong{
    color: white;
}

.section-5-a3{
    box-shadow: 2px 0px 5px 1px rgba(142,142,148,0.20);    
    border: 2px solid #f9f9f9
}

.section-5 h3{
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 30px 20px 30px;
}

.section-5 h4{
    color: black;
    font-size: 22px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1px;
    text-align: center;
}

.section-5 p{
    color: black;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 30px;
}

.section-5 li img{
    width: 15px;
    height: auto;
    padding: 5px 0px 10px 10px;
}

.section-5 li{
    display: flex;
    justify-content: left;
    align-content: space-between;
}

.section-5 li p{
    padding: 5px 0px 10px 10px;
    color: #8e8e94;

}

.section-5 li strong{
    font-weight: 700;
    color: #8e8e94;
}

.section-5 ul{
    padding-bottom: 37px;
}

p.month{
    padding-top: 1px;
    padding-bottom: 15px;
    color: #2d96c8;
    font-weight: 500;
}

p.monthPrenium{
    padding-top: 1px;
    padding-bottom: 15px;
    color: white;
    font-weight: 500;
}

.b5{
    border: 2.5px solid #8e8e94;
    border-radius: 39px;
    font-size: 12px;
    background-color: #8e8e94;
    padding: 6px 35px ;
    color: white;
    font-weight: 600;
}

.b6{
    border: 2.5px solid #ef5466;
    border-radius: 39px;
    font-size: 12px;
    background-color: #ef5466;
    padding: 6px 35px;
    color: white;
    font-weight: 600;
}

.info{
    color: #2d96c8;
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 30px;
}

.infoP{
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 30px;
}

.section-6{
    color: #8e8e94;
    font-size: 8px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 120%;
    text-align: center;
    padding: 0px 90px 50px 90px;
}

.section-7 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-7-a1{
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}

.section-7 h3{
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    padding: 20px 0px 7px 0px;
}

.section-7 h3 strong{
    color: #ef5466;
}

.section-7 p{
    color: black;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
}

.section-7 a{
    color: #2d96c8;
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}

.section-7 button{
    border: 1.5px solid black;
    border-radius: 39px;
    font-size: 12px;
    background-color: #f9f9f9;
    padding: 8px 40px;
    color: black;
    font-weight: 600;
}

.section-7-a2{
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
    padding-bottom: 30px;
}

.section-7-a3{
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
    padding-bottom: 30px;
}

footer{
    background-color: black;

}

.footer-1{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-2 a{
    text-decoration: none;
    color: white;

}

.footer-2 li{
    padding-bottom: 20px;
    font-size: 12px;
}

.footer-2 .title{
    color: #8e8e94;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 1px;
}

